.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("./assets/parchment.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
}

.border-head {
  background: rgba(250, 220, 150, 0.774);
  border: 6px solid #6a4324;
}

.border-body {
  background: rgba(255, 236, 193, 0.774);
  border: 6px solid #6a4324;
}

.scroll-header {
  background-color: rgb(255, 0, 0);
}
